use sea_orm::DatabaseConnection;

use super::{DaoBase, TodoDao};

#[derive(Clone)]
pub struct DaoContext {
    db: DatabaseConnection,
}

impl DaoContext {
    pub fn new(db: &DatabaseConnection) -> Self {
        Self { db: db.clone() }
    }

    pub fn todo(&self) -> TodoDao {
        DaoBase::new(&self.db)
    }
}
